* {
    padding: 0;
    margin: 0;
    user-select: none;
    outline: none;
}

html,
body,
.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas {
    height: 100%;
    width: auto;
}
.fixedBox {
    position: fixed;
    min-width: 400px;
    min-height: 225px;
    bottom: 0;
    right: 0;
    background: #abf3;
    cursor: move;
}

.operaters {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
}
