/* 基础属性  --- 开始  */
* {
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'CODE-Bold PingFang Sc, MicroSoft YaHei, Segoe UI', sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background: url(../bilibili.jpg);
    background-position: center;
    background-size: cover;
}

canvas {
    background: #00000020;
    width: 600px;
    height: 600px;
}

/* 基础属性  ---  结束 */

/* 通用样式   --  开始 */
.glass::after,
.glass::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.glass::after {
    z-index: -2;
    backdrop-filter: blur(15px);
}
.glass::before {
    z-index: -1;
    background: #0001;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    font-size: 14px;
    color: #54546c;
}

.flex-item {
    height: 34px;
    margin-top: 15px;
}

.text {
    color: #fefefe;
    text-shadow: 0, 0, 3px, #eee;
}

.text-title {
    text-align: center;
    margin: 0 0 35px 0;
    font-size: 28px;
}

.btn {
    background: rgb(0, 116, 211);
    color: #eee;
    border-radius: 15px;
    padding: 7px 25px;
    margin: 15px 0 0 0;
    cursor: pointer;
}

.btn:hover {
    background: rgba(0, 146, 231, 0.877);
}

.hide {
    display: none !important;
}

.bg {
    background-size: cover !important;
    background-position: center !important;
    transition: all 0.3s linear;
}
.images {
    margin: 15px 0 0 20px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    cursor: pointer;
    background: #f004;
    overflow: hidden;
}

.images .fa {
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    color: #ffffffa0;
    opacity: 0;
    background-color: rgba(104, 104, 104, 0.4);
}

.images .fa:hover {
    animation-name: zoom;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.1, 0.55, 1);
}

/* 通用样式  ----  结束 */

/* 特定样式  ---- 开始  */

#container {
    position: relative;
    overflow: hidden;
    width: 900px;
    height: 600px;
    border-radius: 15px;
}

.option {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    /* background: #e8e8e8; */
}

.right-side {
    width: 300px;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.copyRight {
    position: absolute;
    color: #dedede;
    right: 15px;
    bottom: 7px;
    font-size: 12px;
}
/* 特定样式   ----  结束 */

/* 关键帧  ----- 开始 */
@keyframes zoom {
    from {
        opacity: 0.3;
        font-size: 12px;
    }
    to {
        opacity: 1;
        font-size: 77px;
    }
}
/* 关键帧  --- 结束   */
