* {
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: 'CODE-Bold PingFang Sc, MicroSoft YaHei, Segoe UI', Tahoma, Geneva, Verdana,
        sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background: url(../bilibili.jpg);
    background-position: center;
    background-size: cover;
}

.flex-center,
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    backdrop-filter: blur(20px);
}

.glass::before {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
}

#container {
    position: relative;
    overflow: hidden;
    width: 900px;
    height: 600px;
    border: 1px solid rgba(117, 115, 115, 0.294);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

#gameBox {
    width: 600px;
    height: 600px;
}

.canvas {
    background: #00000010;
}

.canvas-level {
    width: 600px;
    height: 400px;
}

#wall {
    width: 1px;
    height: 100%;
    background: rgba(117, 115, 115, 0.3);
}

#mesBox {
    width: 300px;
    height: 100%;
    flex-direction: column;
}

.msg-title {
    text-align: center;
    margin: 15px 0 25px 0;
    font-size: 25px;
}

.group {
    width: 70%;
    font-size: 14px;
    color: #54546c;
}

.flex-col {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}

.btn {
    background: rgb(0, 116, 211);
    color: #fff;
    border-radius: 15px;
    padding: 7px 25px;
    margin: 15px 0 0 0;
    cursor: pointer;
}

.btn:hover {
    background: rgba(0, 146, 231, 0.877);
}

.option,
.glass-bg {
    background-size: cover !important;
    background-position: center !important;
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
}

.glass-bg {
    overflow-y: auto;
    backdrop-filter: blur(10px);
}

.option {
    background: #ffffff;
    animation: fadein 0.3s linear forwards;
}

.hide {
    display: none !important;
}

.select-box {
    float: left;
    position: relative;
    margin: 15px 0 0 20px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-size: cover !important;
    background-position: center !important;
    cursor: pointer;
    background: #6f6f6f30;
    transition: 0.3s all ease-in;
}

.select-box:hover i,
.select-box i:hover {
    animation-name: zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.select-box i {
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    color: #ffffffa0;
    opacity: 0;
    background-color: rgba(104, 104, 104, 0.4);
}

.tooltip {
    position: absolute;
    width: 400px;
    height: 220px;
    border-radius: 15px;
    background: #fff;
    overflow: hidden;
}

.tooltip .tip-content {
    box-sizing: border-box;
    height: 180px;
    padding: 25px 15px;
    overflow-y: auto;
}

.tooltip .tip-close {
    border-top: 1px solid #ccc7;
    cursor: pointer;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.option.wraper-level {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.option.wraper-tooltip {
    background: #ffffffa0;
    backdrop-filter: blur(0);
}

#copyRight {
    position: absolute;
    color: #e3dede;
    right: 15px;
    bottom: 7px;
    font-size: 12px;
}

/* 动画 */
.slideIn {
    animation: slidein 0.5s ease-in forwards;
}

@keyframes zoom {
    from {
        opacity: 0;
        font-size: 120px;
    }
    to {
        opacity: 1;
        font-size: 75px;
    }
}

@keyframes fadein {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}

@keyframes transin {
    from {
        /*  */
    }
    to {
        /*  */
    }
}

@keyframes slidein {
    from {
        transform: translateY(15%);
        opacity: 0.3;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
