* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#canvas {
    width: 800px;
    height: 450px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
}

body {
    background: url('../images/bilibili.jpg');
    background-size: cover;
    background-position: center;
}
