* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#canvas {
    border-radius: 15px;
    background: #0003;
    backdrop-filter: blur(15px);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/bilibili.jpg');
    background-size: cover;
    background-position: center;
}
